<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <script defer th:src="@{/js/fragment/header.js}"></script>
    <link rel="stylesheet" th:href="@{/css/event/list.css}"/>
    <style>
        @import url(https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff);
        @import url(https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2);
    </style>
</head>
<body>
<div class="container">
    <header class="header" th:include="~{fragment/header::header}">
    </header>
    <div class="main-wrap">
        <main>
            <!-- 여기에 작업 -->
            <div class="main_searchContainer">
                <div class="main_mainContents">
                    <!-- 메인 타이틀 -->
                    <p class="main_mainTitle">우리들의 이벤트</p>
                    <div class="main_mainGridContainer">
                        <!-- 반복 구간 -->
                        <div class="mainContent_mainContentBox" th:each="event : ${eventPageDTO.list}">
                            <!-- 사진 박스 -->
                            <div>
                                <span><img
                                        class="mainContent_mainImg"
                                        th:src="@{/image/logo/logo_banner2.png}"
                                        alt="게시글 썸네일" th:if="${event.eventImgId == null}"/></span>
                                <span><img
                                        class="mainContent_mainImg"
                                        th:src="@{'upoload/event/' + ${event.eventPath} + '/th_' + ${event.eventUuid} + ${event.eventExtension}}"
                                        alt="게시글 썸네일" th:unless="${event.eventImgId == null}"/>
                                /></span>
                            </div>
                            <div class="mainContent_mainbox">
                                <!-- 글 박스 -->
                                <div class="mainContent_mainContent">
                                    <div class="mainContent_mainTitle" th:text="${event.eventTitle}">이벤트 제목</div>
                                    <div class="mainContent_mainText" th:utext="${event.eventContent}">이벤트 내용</div>
                                </div>
                                <!-- 글 박스 하단 -->
                                <div class="mainConent_mainInfo">
                                    <!--                                    <div class="mainContent_subbox">이벤트 장소</div>-->
                                    <div class="mainContent_subbox" th:text="'기간 : ' + ${event.eventUpdatedAt}">이벤트 일정</div>
                                </div>
                            </div>
                        </div>
                        <!-- 반복 구간 -->

                    </div>
                    <!-- 페이지 영역 -->
                    <section class="pagination-section">
                        <div class="pagination">
                            <a th:if="${eventPageDTO.hasPreviousGroup()}"
                               th:href="@{/event/list(page=${eventPageDTO.startPage - 1})}"

                               class="page-btn prev" aria-label="Go to previous group">‹</a>

                            <a class="page-btn"
                               th:each="i : ${#numbers.sequence(eventPageDTO.startPage,eventPageDTO.endPage)}"
                               th:href="@{/event/list(page=${i})}"
                               th:classappend="${i == eventPageDTO ? 'active' : ''}"
                               th:text="${i}"
                            >1</a>

                            <a th:if="${eventPageDTO.hasNextGroup()}"
                               th:href="@{/event/list(page=${eventPageDTO.endPage + 1})}"

                               class="page-btn next" aria-label="Go to next group">›</a>
                        </div>
                    </section>
                </div>
            </div>
            <div th:insert="~{/openAiChat/open_ai_chat}"></div>
        </main>
    </div>
    <footer class="footer" th:include="~{fragment/footer::footer}"></footer>
</div>
</body>
</html>
