<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/admin/admin_main/admin_main.css}" />
  <link rel="stylesheet" th:href="@{/css/admin/admin_main/admin_header.css}" />
</head>
<body>
<!-- 헤더 네비 -->
<div id="header-container" th:replace="admin/admin_main/admin_main_header_nav :: admin_main_header_nav"></div>

<!-- 메인 컨텐츠 메뉴 -->
<div id="content-container" th:replace="admin/admin_main/admin_main_content :: admin_main_content"></div>

<script>

</script>
<!-- 차트 라이브러리 로드 코드 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:src="@{/js/admin/admin_main/admin.main.js}"></script>
</body>
</html>
