@media (max-width: 1350px) {
  .content_box {
    width: 90%;
  }
}

.content_box {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-wrap {
  padding: 70px 60px;
  min-width: 1050px;
  margin-top: 90px;
  margin-bottom: 60px;
  border: 1px solid #dbdbdb;
}

.login__kit {
  text-align: center;
  font-family: "Pretendard-Regular";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.login__input {
  width: 340px;
  margin: 0px auto;
  letter-spacing: -0.6px;
}
.login__input__box {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;


  input {
    width: 340px;
    height: 54px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-family: "Pretendard-Regular";

    :hover {
      color: rgb(95, 0, 128);
    }
  }
}

.login___id___chk__find {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 13px;
  font-family: "Pretendard-Regular";
}
.login__find {
  > span {
    display: inline-block;

    width: 1px;
    height: 10px;
    margin: 3px 6px 0px;
    background-color: rgb(51, 51, 51);

    font-family: "Pretendard-Regular";
  }
  :hover {
    color: rgb(95, 0, 128);
  }
}

.login__btn__box {
  margin-top: 28px;
  a {
    margin-top: 10px;
  }
}
.btnLogin {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 54px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 128);
  border: 0px none;
}
.btnJoin {
  display: flex;
  padding: 0px 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 54px;
  border-radius: 3px;
  color: rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
}
.btn__title {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  font-family: "Pretendard-Regular";
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .login__kakao {
  margin-top: 10px;
}
.login__kakao__img {
  width: 340px;
  height: 54px;
} */

.login__SNS {
  width: 340px;
  margin-top: 40px;
}
.login__SNS__title {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  font-family: "Pretendard-Regular";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-font-color);
  border-bottom: 1px solid rgb(221, 221, 221);
  > p {
    margin-bottom: 10px;
  }
}
.login__SNS__input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.login__SNS__input__tool {
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  &:first-child {
    background-color: rgb(30, 200, 0);
  }
  &:nth-child(2) {
    background-color: rgb(249, 224, 0);
  }
  &:last-child {
    border: 1px solid #f2f3f7;
    background-color: rgb(255, 255, 255);
  }
  img {
    width: 24px;
    height: 24px;
  }
}

/* Login Error */
.alert-danger {
  padding: 15px;
  font-size: 12px;
  color: red;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 30px 0;
}

.page-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #666;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s;
}

.page-btn:hover {
  border-color: rgb(189, 118, 255);
  color: rgb(189, 118, 255);
}

.page-btn.active {
  background: rgb(189, 118, 255);
  border-color: rgb(189, 118, 255);
  color: #fff;
}

.page-btn.prev,
.page-btn.next {
  width: 40px;
}
