@media (max-width: 1350px) {
  .content_box {
    width: 90%;
  }
}

.content_box {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-wrap {
  padding: 70px 60px;
  min-width: 1050px;
  margin-top: 90px;
  margin-bottom: 60px;
  border: 1px solid #dbdbdb;
}

.signup__kit {
  text-align: center;
  font-family: "Pretendard-Regular";
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 35px;
  font-weight: 500;
  letter-spacing: -1px;
  color: rgb(51, 51, 51);
}

.signup__input {
  width: 640px;
  margin: 0px auto;
}

.signup__upbar {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(51, 51, 51);
  font-size: 12px;
  color: rgb(102, 102, 102);
  line-height: 17px;
  text-align: right;
  font-family: "Pretendard-Regular";
  & > span:first-child {
    color: red;
  }
}
.signup__input__box {
  padding: 0px;
}
.signup__info {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}
.signup__info__title {
  width: 139px;
  padding-top: 12px;
  font-family: "Pretendard-Regular";
  .info__title {
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
    > span {
      color: rgb(238, 106, 123);
    }
  }
}
.signup__info__box {
  flex: 1 1 0%;
}

.testinfomvp {
  padding-top: 10px;
}

.testinfomvp p {
  font-family: "Pretendard-Regular";
  font-size: 13px;
  margin-top: -4px;
}

.testmessagenot {
  color: rgb(240, 63, 64);
  display: none;
}

.testmessagenot.active {
  display: block;
}

.testmessageok {
  color: rgb(15, 133, 26);
  display: none;
}

.testmessageok.active {
  display: block;
}

.testmessageok::before {
  content: "✓";
  margin-right: 3px;
}

#address_address {
  margin-bottom: 12px; /* 주소와 상세주소 사이 간격 */
}

.info__box__in__content {
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}

.signup__info__out {
  width: 120px;
  margin-left: 8px;
}

.signup__info__box__email {
  height: 48px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info__box__email__at {
  padding: 0px 4px;
  color: var(--sub-font-color);
}

.info__box__in__content__email {
  width: 100%;
  flex: 1 1 0%;
  height: 46px;
  border-radius: 4px;
  padding: 0px 0px 1px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  background-color: #fff;
  outline: none;
  box-sizing: border-box;
  border: 0px;
}

.info__box__email__btn__content {
  width: 100%;
  flex: 1 1 0%;
  height: 46px;
  border-radius: 4px;
  padding: 0px 0px 1px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(128, 128, 128);
  background-color: #fff;
  outline: none;
  box-sizing: border-box;
  border: 0px;
}

.info__box__email__btn {
  position: relative;
  width: 143px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.info__box__email__btn__select {
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
}

.info__dropdown__email {
  position: absolute;
  width: 165px;
  right: 0;
  top: 47px;
  /* right: 116px; 
  top: 67px; */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  display: none;
  z-index: 9999;
}

.info__dropdown__email.active1 {
  display: flex;
}

.dropdown__item {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: rgb(128, 128, 128);
  height: 18px;
  background-color: #fff;
  border: none;
}
.signup__info__number {
  background-color: rgb(255, 255, 255);
  color: var(--main-color);
  border: 1px solid rgb(95, 0, 128);
  width: 100%;
  height: 44px;
  border-radius: 3px;
  .info__number__title {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    font-family: "Pretendard-Regular";
  }
}
signup__info__number.activeNumber{
  background-color: var(--main-color);
  color: #fff;
}

.info__address {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 44px;
  border-radius: 4px;
  color: rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);

  .info__address__search {
    font-size: 16px;
    font-weight: 500;
    font-family: "Pretendard-Regular";
  }
}
.info__address__noti {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Pretendard-Regular";
  color: rgb(102, 102, 102);
}

.address_btn {
  background-color: #fff;
  border: 1px solid var(--main-color);
  width: 100%;
  height: 44px;
  border-radius: 3px;

  font-weight: 500;
  font-size: 12px;
  color: var(--main-color);
  font-family: "Pretendard-Regular";
}

/* 성별 */

.signup__info__box__gender {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: row;
}

.signup__gender__box {
  text-align: center;
  display: flex;
  -webkit-box-pack: justify;
}

input[name="gender"] {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
}

.info__gender {
  border: 1px solid rgb(221, 221, 221);
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
}

.info__gender.active {
  background-color: rgb(95, 0, 128);
}

.gender__btn__in {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.gender__btn__in.active {
  background-color: white;
}

.gender__btn__title {
  position: relative;
  font-size: 14px;
  margin-left: 12px;
  color: var(--sub-font-color);
  font-family: "Pretendard-Regular";
}
.signup__info__box__date {
  border: 1px solid rgb(204, 204, 204);
  width: 100%;
  display: flex;
  position: relative;
  height: 48px;
  border-radius: 4px;
  flex: 1 1 0%;
}
.info__date__box {
  height: 44px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;

  padding: 0px 15px;
  > input {
    text-align: center;
    font-size: 14px;
    border: none;
  }
}

.info__date__box__in {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 0px 15px;
}

.info__date__box__input {
  text-align: center;
  font-size: 13px;
  border: none;
  width: 100%;
  height: 40px;
  font-weight: 400;
  line-height: 38px;
  color: rgb(51, 51, 51);
  background-color: #fff;
  outline: none;
}
.info__date__slash::after {
  content: "/";
  font-size: 14px;
  color: rgb(204, 204, 204);
  text-align: center;
  line-height: 40px;
}

.info__date__slash {
  height: 100%;
}

.signup__btn__box {
  margin-top: 28px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 40px 0px;
}
.btnSignup {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 240px;
  height: 56px;
  border-radius: 3px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 128);
  font-family: "Pretendard-Regular";
}

.info__box__in-number {
  position: relative;
}

.timer{
  display: block;
  position: absolute;
  left: 86%;
  top: 11px;
}
#authNumberGroup{
  position: relative;
}
.signup__info__number-btn{
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: var(--main-color);
  border: 1px solid rgb(95, 0, 128);
  width: 120px;
  height: 44px;
  margin-left: 8px;
  border-radius: 3px;
  .info__number__title {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    font-family: "Pretendard-Regular";
  }
}











