<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <script defer th:src="@{/js/fragment/header.js}"></script>
    <link rel="stylesheet" th:href="@{/css/zip/detail.css}"/>
    <script defer type="module" th:src="@{/js/zip/detail.js}"></script>
    <style>
        @import url(https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff);
        @import url(https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2);
    </style>
</head>
<body>
<div class="container">
    <header class="header" th:include="~{fragment/header::header}">
    </header>
    <div class="main-wrap">
        <main>
            <!-- 여기에 작업 -->
            <!-- 게시글 상세 -->
            <div class="qaDetail_qaDetailContainer">
                <div class="qaDetail_qaDetailContent">
                    <!-- 작성글 박스 -->
                    <div class="qaDetail_qaDetailQuestion" th:object="${board}">
                        <div class="qaDetail_qaDetailTitle">
                            <div class="qaDetail_labelListWrapper">
                                <button class="mylabel_activeLabel" th:if="${board.zipPetCategory.equals('CAT')}">고양이</button>
                                <button class="mylabel_activeLabel" th:if="${board.zipPetCategory.equals('DOG')}">강아지</button>
                                <button class="mylabel_activeLabel" th:if="${board.zipPetCategory.equals('SMALL')}">소동물</button>
                                <button class="mylabel_activeLabel" th:if="${board.zipPetCategory.equals('OTHER')}">기타</button>
                            </div>
                            <h1 class="qaDetail_qaDetailTop" th:text="${board.zipTitle}">

                            </h1>
                        </div>
                        <div class="qaDetail_qaDetailText" th:utext="${board.zipContent}">

                        </div>
                        <!--                        <div class="qaDetail_qaDetailImgBox">-->
                        <!--                            <img-->
                        <!--                                    class="img_verticalImage"-->
                        <!--                                    src="https://bff-images.bemypet.kr/media/medias/all/991-image_picker1162727019138332828.jpg"-->
                        <!--                            />-->
                        <!--                        </div>-->

                        <!-- 추천 -->
                        <div class="qaDetail_qaDetailThumbBtnWrapper">
                            <div class="thumbButton_thumbButtonWrapper">
                                <!-- 추천 버튼 -->
                                <button type="button" class="thumbButton_thumbButtonContainer">
                                    <img src="/images/zip/free-icon-love-2581539.png" alt="좋아요 아이콘" class="thumbButton_thumbButton">
                                    <div class="thumbButton_defaultLabel" th:text="${board.likeCount}">0</div>
                                </button>

                            </div>
                        </div>

                        <!-- 작성글 삭제/수정 버튼 -->
                        <div class="delete_modify_Btn" th:if="${session.usersId == board.usersId}">
                            <!-- 삭제 버튼 -->
                            <div class="delete_Btn">
                                <button type="button" class="delete_Btn_item" tabindex="0" th:data-zip-id="${board.zipId}">
                                    글 삭제
                                </button>
                            </div>
                            <!-- 수정 버튼 -->
                            <div class="modify_Btn">
                                <a class="modify_Btn_item" tabindex="0" th:href="@{/zip/modify(zipId=${board.zipId})}">
                                    글 수정
                                </a>
                            </div>
                        </div>

                        <!-- 작성자 정보 -->
                        <div class="qaDetail_qaDetailInfo">
                            <div>
                                <div class="qaDetail_qaDetailUser" th:text="${board.loginId}"></div>
                                <div class="qaDetail_qaDetailDate" th:text="'작성일 : ' + ${board.zipUpdatedAt}"></div>
                            </div>
                        </div>
                    </div>

                    <!-- 경계선 -->
                    <div class="qaDetail_qaDetailBar"></div>

                    <!-- 댓글 -->
                    <div class="qaDetail_qaDetailAnswerWrapper">
                        <div class="qaDetail_qaDetailTotal" th:text="'댓글 : ' + ${board.answerCount}"></div>
                        <div class="qaDetail_qaDetailComment">
                            <div class="answer_qaAnswerInputWrapper">
                                <textarea id="answerContent" placeholder="댓글을 입력해주세요"></textarea>
                                <div class="answer_inputBtnWrapper">
                                    <div class="answer_questionImgContainer"></div>
                                    <div class="answer_answerBtnContainer">
                                        <!--                                            <input-->
                                        <!--                                                    id="uploadFile"-->
                                        <!--                                                    type="file"-->
                                        <!--                                                    multiple-->
                                        <!--                                                    accept="image/jpg,image/png,image/jpeg,image/gif"-->
                                        <!--                                                    class="answer_fileUploadWrapper"-->
                                        <!--                                            />-->

                                        <div>
                                            <!--                                            <label for="uploadFile" class="answer_photoBtn">-->
                                            <!--                                                <img-->
                                            <!--                                                        src="https://bemypet.kr/icons/ICON_Camera.png"-->
                                            <!--                                                />-->
                                            <!--                                                사진첨부-->
                                            <!--                                            </label>-->
                                            <button type="button" id="answerWriteBtn" class="answer_submitBtn" >등록
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 댓글 리스트 -->
                        <div class="qaDetail_qaDetailAnswer" id="answers">
                            <!--                            <div class="comment_qaDetailComment">-->

                            <!--                                <div class="comment_qaCommentIdWrapper">-->
                            <!--                                    <div class="comment_qaCommentId">닉네임</div>-->

                            <!--                                    <div class="comment_edit_delete">-->
                            <!--                                        &lt;!&ndash; 삭제 아이콘 &ndash;&gt;-->
                            <!--                                        <div class="comment_delete">-->
                            <!--                                            <img-->
                            <!--                                                    th:src="@{/images/zip/icon-delete.png}"-->
                            <!--                                            />-->
                            <!--                                        </div>-->
                            <!--                                        &lt;!&ndash; 수정 아이콘 &ndash;&gt;-->
                            <!--                                        <div class="comment_edit">-->
                            <!--                                            <img th:src="@{/images/zip/icon-pencil.png}"/>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                    <div class="comment_qaCommentDate">날짜</div>-->
                            <!--                                </div>-->

                            <!--                                <div class="comment_qaDetailImgNone"></div>-->
                            <!--                                <div class="comment_qaComment">내용</div>-->

                            <!--                            </div>-->

                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
    <footer class="footer" th:include="~{fragment/footer::footer}"></footer>
</div>
<script th:inline="javascript">
    const zipId = [[${board.zipId}]];
    const loginUsersId = [[${session.usersId}]];
</script>
</body>
</html>
