<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/zip/write.css}"/>
    <style>
        @import url(https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff);
        @import url(https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2);
    </style>
</head>
<body>
<div class="container">
    <header class="header" th:include="~{fragment/header::header}">
    </header>
    <div class="main-wrap">
        <main>
            <!-- 여기에 작업 -->
            <div class="question_questionContainer">
                <div class="question_questionContent">
                    <!-- 카테고리 선택 -->
                    <span class="question_questionCategory">반려동물 카테고리</span>
                    <span class="question_questionMark">*</span>
                    <div class="question_radioWrap">
                        <div>
                            <input
                                    type="radio"
                                    name="question"
                                    id="강아지"
                                    value="강아지"
                                    checked
                            />
                            <label for="강아지">강아지</label>
                        </div>
                        <div>
                            <input
                                    type="radio"
                                    name="question"
                                    id="고양이"
                                    value="고양이"
                                    checked
                            />
                            <label for="고양이">고양이</label>
                        </div>
                        <div>
                            <input
                                    type="radio"
                                    name="question"
                                    id="소동물"
                                    value="소동물"
                                    checked
                            />
                            <label for="소동물">소동물</label>
                        </div>
                        <div>
                            <input
                                    type="radio"
                                    name="question"
                                    id="기타"
                                    value="기타"
                                    checked
                            />
                            <label for="기타">기타</label>
                        </div>
                    </div>

                    <!-- 제목 입력 박스 -->
                    <div>
                        <div>
                            <span class="question_questionCategory">라운지 글 작성</span>
                            <span class="question_questionMark">*</span>
                        </div>
                        <input
                                placeholder="제목을 입력해주세요"
                                class="question_titleInput"
                                value
                        />
                        <!-- 박스 하단 여백 -->
                        <div class="question_alertText"></div>
                    </div>

                    <!-- 내용 입력 박스 -->
                    <div class="question_questionInputWrapper">
                <textarea
                        placeholder="5자 이상의 글 내용을 입력해주세요"
                        class="question_questionInput"
                ></textarea>
                        <!-- 박스 하단 여백 -->
                        <div class="question_alertText"></div>
                    </div>

                    <form action="multipart/form-data">
                        <div class="question_fileInputWrapper">
                            <!-- 사진 업로드 박스 -->
                            <span class="question_questionCategory">사진 업로드</span>
                            <div class="question_questionImgContainer"></div>
                            <input
                                    id="uploadFile"
                                    type="file"
                                    multiple
                                    accept="image/jpg,image/png,image/jpeg,image/gif"
                                    style="display: none"
                            />
                            <label for="uploadFile" class="question_inputFileBtn">
                                <div class="question_inputFileText">사진 첨부</div>
                                <img
                                        src="https://bemypet.kr/icons/community/ICON_PHOTO_CAMERA.svg"
                                />
                            </label>
                            <span class="question_imgDesc"
                            >개당 업로드 용량: 20MB, 첨부 파일의 경우 사진과 동영상을
                    합쳐 최대 10개 업로드 가능합니다.</span
                            >
                        </div>
                    </form>

                    <!-- 등록 버튼 -->
                    <button class="question_nosubmitBtn" disabled>글 등록</button>
                </div>
            </div>
        </main>
    </div>
    <footer class="footer" th:include="~{fragment/footer::footer}"></footer>
</div>
</body>
</html>
