<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dncompany.mapper.help.HelpOfferMapper">
    <!-- 도움 신청하기 -->
    <insert id="insertHelpOffer" parameterType="HelpOfferListDTO">
        <selectKey keyProperty="helpOfferId" resultType="long" order="BEFORE">
            SELECT SEQ_HELP_OFFER.nextval FROM DUAL
        </selectKey>
        INSERT INTO HELP_OFFER (HELP_OFFER_ID, HELP_OFFER_STATUS, HELP_OFFER_ENROLL_DATE, HELP_ID, USERS_ID,)
        VALUES (#{helpOfferId}, 'REJECT', SYSDATE, #{helpId}, #{usersId})
    </insert>


</mapper>