<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">

    <link rel="stylesheet" th:href="@{/css/user/mypage/mypage_list.css}" />


    <script defer th:src="@{/js/fragment/header.js}"></script>
    <script defer th:src="@{/js/common.js}"></script>

    <title>Document</title>
</head>
<body>
<!-- 홈페이지 전체 사이즈 -->
<div class="container">
    <th:block th:insert="~{fragment/header::header}">
    </th:block>

    <main>
        <!-- 게시물리스트 페이지 -->
        <div class="mypage_list">
            <div class="mypage_list_title">
                <p>게시물</p>
                <div class="mypage_list_line"></div></div>


            <table>
                <tr>
                    <th>순번</th>
                    <th>게시판</th>
                    <th>제목</th>
                    <th>작성날짜</th>

                    <!-- 게시물 컨텐츠 -->
                <tr>
                    <td>샘플 순번</td>
                    <td>샘플 게시판</td>
                    <td>샘플 제목</td>
                    <td>샘플 작성날짜</td>
                </tr>
                </tr>
            </table>

        </div>
    </main>
</div>
<th:block th:insert="~{fragment/footer::footer}">

</th:block>
</div>
</body>
</html>
