<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">

    <link rel="stylesheet" th:href="@{/css/user/mypage/mypage_list.css}" />


    <script defer th:src="@{/js/fragment/header.js}"></script>
    <script defer th:src="@{/js/common.js}"></script>

    <title>Document</title>
</head>
<body>
<div class="container">
    <!-- 홈페이지 전체 사이즈 -->
    <th:block th:insert="~{fragment/header::header}">
    </th:block>

    <main>
        <div class="mypage_list">
            <div class="mypage_list_title">
                <p>도와주세요</p>
                <div class="mypage_list_line"></div></div>
            <table>
                <tr>
                    <th>순번</th>
                    <th>제목</th>
                    <th>신청유형</th>
                    <th>시작날짜</th>
                    <th>신청날짜</th>
                    <th>후기</th>

                </tr>


                <tr class="help-me-list" th:each="helpMe :${pageDTO.list}" th:object="${helpMe}">
                    <td th:text="*{rnum}"></td>
                    <td ><a th:href="@{/help/detail(helpId=*{helpId})}" th:text="*{helpTitle}"></a></td>
                    <td th:text="*{helpCareType}"></td>
                    <td th:text="*{helpCreatedAt}"></td>
                    <td th:text="*{helpCareDate}"></td>
                    <td><button class="mypage_review_button">후기</button>
                        <button class="mypage_review_button">신고</button></td>
                </tr>
            </table>

            <section class="pagination-section">
                <div class="pagination">
                    <a th:if="${pageDTO.hasPreviousGroup()}"
                       th:href="@{/mypage/list/qna(page=${pageDTO.startPage - 1})}"
                       class="page-btn prev" aria-label="Go to previous group">‹</a>

                    <a class="page-btn"
                       th:each="i : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}"
                       th:href="@{/mypage/list/qna(page=${i})}"
                       th:classappend="${i == pageDTO.page ? ' active' : ''}"
                       th:text="${i}"></a>

                    <a th:if="${pageDTO.hasNextGroup()}"
                       th:href="@{/mypage/list/qna(page=${pageDTO.endPage + 1})}"
                       class="page-btn next" aria-label="Go to next group">›</a>
                </div>
            </section>


        </div>
    </main>
</div>
<th:block th:insert="~{fragment/footer::footer}">

</th:block>
</div>
</body>
</html>
