<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">

    <link rel="stylesheet" th:href="@{/css/user/mypage/mypage_list.css}" />


    <script defer th:src="@{/js/fragment/header.js}"></script>
    <script defer th:src="@{/js/common.js}"></script>

    <title>Document</title>
</head>
<body>
<div class="container">
<!-- 홈페이지 전체 사이즈 -->
<th:block th:insert="~{fragment/header::header}">
</th:block>

<main>
    <div class="mypage_list">
        <div class="mypage_list_title">
            <p>도와주세요</p>
            <div class="mypage_list_line"></div></div>
        <table>
            <tr>
                <th>제목</th>
                <th>신청유형</th>
                <th>시작날짜</th>
                <th>신청날짜</th>
                <th>후기</th>

            </tr>


            <tr  th:each="helpMe :${helpMeList}" th:object="${helpMe}">
                <td th:text="*{helpTitle}"></td>
                <td th:text="*{helpCareType}"></td>
                <td th:text="*{helpCreatedAt}"></td>
                <td th:text="*{helpCareDate}"></td>
                <td><button class="mypage_review_button">후기</button>
                    <button class="mypage_review_button">신고</button></td>
            </tr>
        </table>

    </div>
</main>
</div>
<th:block th:insert="~{fragment/footer::footer}">

</th:block>
</div>
</body>
</html>
