<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">

    <link rel="stylesheet" th:href="@{/css/user/mypage/mypage_list.css}"/>


    <script defer th:src="@{/js/fragment/header.js}"></script>
    <script defer th:src="@{/js/common.js}"></script>
    <script defer type="module" th:src="@{/js/user/mypage/mypage-zip-list.js}"></script>

    <title>Document</title>
</head>
<body>
<!-- 홈페이지 전체 사이즈 -->
<div class="container">
    <th:block th:insert="~{fragment/header::header}">
    </th:block>


    <main class="main-wrap">

        <div class="mypage_list">
            <div class="mypage_list_title">
                <p>초보zip</p>
                <div class="mypage_list_line"></div>
            </div>

            <table>


                <tr>
                    <th>순번</th>
                    <th>원글 제목</th>
                    <th>작성날짜</th>
                </tr>
                <tbody class="zip-list-tbody">

                </tbody>

            </table>

            <section class="pagination-section">
                <div class="pagination zip-list-pagination">
                </div>
            </section>



        </div>
    </main>
    <th:block th:insert="~{fragment/footer::footer}">

    </th:block>
</div>

</body>
</html>
