<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">

    <link rel="stylesheet" th:href="@{/css/user/mypage/mypage_list.css}"/>


    <script defer th:src="@{/js/fragment/header.js}"></script>
    <script defer th:src="@{/js/common.js}"></script>
    <script defer type="module" th:src="@{/js/user/mypage/mypage-zip-list.js}"></script>

    <title>Document</title>
</head>
<body>
<!-- 홈페이지 전체 사이즈 -->
<div class="container">
    <th:block th:insert="~{fragment/header::header}">
    </th:block>


    <main>

        <div class="mypage_list">
            <div class="mypage_list_title">
                <p>초보zip</p>
                <div class="mypage_list_line"></div>
            </div>

            <p>게시글이력</p>
            <div class="mypage_list_sub_line"></div>
            <table>


                <tr>
                    <th>순번</th>
                    <th>원글 제목</th>
                    <th>작성날짜</th>
                </tr>
                <tbody class="zip-list-tbody">

                </tbody>

                <!-- 댓글 컨텐츠 -->
<!--                <tr th:each="MypageZipList :${zipBoardPageDTO.list} " th:object="${MypageZipList}">-->
<!--                    <td th:text="*{rnum}">샘플 순번</td>-->
<!--                    <td th:text="*{zipTitle}">샘플 작성날짜</td>-->
<!--                    <td th:text="*{zipCreatedAt}">샘플 제목</td>-->
<!--                </tr>-->
            </table>

            <section class="pagination-section">
                <div class="pagination zip-list-pagination">
<!--                    <a th:if="${zipBoardPageDTO.hasPreviousGroup()}"-->
<!--                       th:href="@{/mypage/list/zip(page=${zipBoardPageDTO.startPage - 1})}"-->
<!--                       class="page-btn prev" aria-label="Go to previous group">‹</a>-->

<!--                    <a class="page-btn"-->
<!--                       th:each="i : ${#numbers.sequence(zipBoardPageDTO.startPage, zipBoardPageDTO.endPage)}"-->
<!--                       th:href="@{/mypage/list/zip(page=${i})}"-->
<!--                       th:classappend="${i == zipBoardPageDTO.page ? ' active' : ''}"-->
<!--                       th:text="${i}"></a>-->

<!--                    <a th:if="${zipBoardPageDTO.hasNextGroup()}"-->
<!--                       th:href="@{/mypage/list/zip(page=${zipBoardPageDTO.endPage + 1})}"-->
<!--                       class="page-btn next" aria-label="Go to next group">›</a>-->
                </div>
            </section>

            <p>댓글이력</p>
            <div class="mypage_list_sub_line"></div>
            <table>
                <tr>
                    <th>순번</th>
                    <th>게시판</th>
                    <th>제목</th>
                    <th>작성날짜</th>

                    <!-- 게시물 컨텐츠 -->
                <tr th:each="MypageZipAList : ${zipAnswerPageDTO.list}" th:object="${MypageZipAList}">
                    <td th:text="*{rnum}">샘플 순번</td>
                    <td th:text="*{zipTitle}">샘플 게시판</td>
                    <td th:text="*{zipAnswerContent}">샘플 제목</td>
                    <td th:text="*{zipAnswerCreatedAt}">샘플 작성날짜</td>
                </tr>
            </table>


            <section class="pagination-section">
                <div class="pagination">
<!--                    <a th:if="${pageDTO.hasPreviousGroup()}"-->
<!--                       th:href="@{/mypage/list/zip(page=${pageDTO.startPage - 1})}"-->
<!--                       class="page-btn prev" aria-label="Go to previous group">‹</a>-->

<!--                    <a class="page-btn"-->
<!--                       th:each="i : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}"-->
<!--                       th:href="@{/mypage/list/zip(page=${i})}"-->
<!--                       th:classappend="${i == pageDTO.page ? ' active' : ''}"-->
<!--                       th:text="${i}"></a>-->

<!--                    <a th:if="${pageDTO.hasNextGroup()}"-->
<!--                       th:href="@{/mypage/list/zip(page=${pageDTO.endPage + 1})}"-->
<!--                       class="page-btn next" aria-label="Go to next group">›</a>-->
                </div>
            </section>

        </div>
    </main>
</div>
<th:block th:insert="~{fragment/footer::footer}">

</th:block>
</div>
</body>
</html>
