<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">

    <link rel="stylesheet" th:href="@{/css/user/mypage/mypage_list.css}" />


    <script defer th:src="@{/js/fragment/header.js}"></script>
    <script defer th:src="@{/js/common.js}"></script>

    <title>Document</title>
</head>
<body>
<!-- 홈페이지 전체 사이즈 -->
<div class="container">
    <th:block th:insert="~{fragment/header::header}">
    </th:block>

    <main>
        <div class="mypage_list">
            <div class="mypage_list_title">
                <p>QnA</p>
                <div class="mypage_list_line"></div></div>
            <table>
                <tr>
                    <th>순번</th>
                    <th>제목</th>
                    <th>작성날짜</th>
                    <th>답변</th>
                </tr>

                <!-- QnA 컨텐츠 -->

                <tr th:each="qnaList:${qnaList}" th:object="${qnaList}">

                    <td th:text="*{rnum}">순번</td>
                    <td><a th:text="*{qnaTitle}"></a></td>
                    <td th:text="*{qnaCreateAt}" >샘플 작성날짜</td>
                    <td th:text="*{qnaAnswerCount}">샘플 답변</td>
                </tr>

            </table>

        </div>
    </main>
</div>
<th:block th:insert="~{fragment/footer::footer}">

</th:block>
</div>
</body>
</html>
