<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">

    <link rel="stylesheet" th:href="@{/css/user/mypage/mypage_list.css}" />
    <link rel="stylesheet" th:href="@{/css/user/mypage/mypage_nav.css}" />

    <script defer th:src="@{/js/fragment/header.js}"></script>
    <script defer th:src="@{/js/common.js}"></script>
    <script defer th:src="@{/js/user/mypage/mypage_nav.js}"></script>
    <title>Document</title>
</head>
<body>
<!-- 홈페이지 전체 사이즈 -->
<div class="container">
    <th:block th:insert="~{fragment/header::header}">
    </th:block>
    <th:block th:insert="~{user/mypage/mypage_nav::mypage-nav}">
    </th:block>
    <main>
        <div class="mypage_list">
            <div class="mypage_list_title">
                <p>QnA</p>
                <div class="mypage_list_line"></div></div>
            <table>
                <tr>
                    <th>제목</th>
                    <th>작성날짜</th>
                    <th>답변</th>
                </tr>

                <!-- QnA 컨텐츠 -->
                <tr>
                    <td>샘플 제목</td>
                    <td>샘플 작성날짜</td>
                    <td>샘플 답변</td>
                </tr>
            </table>

    </main>
</div>
<th:block th:insert="~{fragment/footer::footer}">

</th:block>
</div>
</body>
</html>
