<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dncompany.mapper.user.schedule.ScheduleMapper">
    <!-- 도움 테이블로부터 회원의 일정 데이터 가져오기-->
    <select id="selectScheduleByUserId" parameterType="long" resultType="ScheduleListDTO">
        SELECT HELP_TITLE, HELP_CARE_DATE, HELP_START_TIME, HELP_END_TIME, HELP_ID, USERS_ID
        FROM HELP_BOARD
        WHERE USERS_ID = #{usersId}
    </select>
</mapper>