<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../static/css/font.css" />
  <link rel="stylesheet" href="../../static/css/fragment/footer.css" />
  <title>Document</title>
</head>

<body>
  <!-- 홈페이지 전체 사이즈 -->
  <div class="container">
    <header></header>
    <main class="main-wrap">
    </main>

  <footer th:fragment="footer">
    <div class="footer-link_wrap">
      <div class="footer-link">
        <ul>
          <li><a href="#">이용약관</a></li>
          <li><a href="#">개인정보 처리방침</a></li>
          <li><a href="#">공지사항</a></li>
          <li><a href="#">이벤트</a></li>
          <li><a href="#">제휴문의</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-info_wrap">
      <div class="footer-info">
        <p>
          <strong>(주) 댕냥컴퍼니</strong>
          <span>대표이사 : <span>김댕냥</span></span>
        </p>
        <address>소동물별 댕냥시 도움이 필요한 우리 근처에 어디든 있습니다.</address>
        <p class="exp">
          댕냥컴퍼니는 중개자이며 판매 당사자가 아니므로 서비스나 거래에 대하여 책임지지 않습니다.
          <br />
          단, 댕냥컴퍼니가 책임질 수 있는 부분에 대해서는 할 수 있는 선에서 최선을 다합니다.
        </p>
        <p class="copy">
          Copyright @ <span class="bold">DNCompany</span> Inc. ALL
          RIight Reserved.
        </p>

        <div class="cs">
          <p class="bold">Contact us</p>
          <p class="info">
            ※ 광고 &amp; 문의 :
            <a href="mailto:paiksool@theborn.co.kr">dncompany@gmail.com</a>
          </p>
          <p class="info">
            ※ 댕냥바다의 주문, 배송 관련 문의는 판매자 정보를 확인해주세요. <br />
          </p>
        </div>
      </div>
    </div>
  </footer>
  </div>
</body>

</html>