<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dncompany.mapper.event.EventBoardMapper">
    <!-- 이벤튼 게시글 삽입 -->
    <insert id="insertEventBoard" parameterType="EventBoardWriteDTO">
        <selectKey resultType="long" keyProperty="eventId" order="BEFORE">
            SELECT SEQ_EVENT_BOARD.nextval FROM DUAL
        </selectKey>
        INSERT INTO EVENT_BOARD (EVENT_ID, EVENT_TITLE, EVENT_CONTENT, USERS_ID)
        VALUES (#{eventId}, #{eventTitle}, #{eventContent}, #{usersId})
    </insert>

    <!--  이벤트 게시글 전체 정보  -->
    <select id="selectAllEventBoards" resultType="EventBoardDTO">
        SELECT EB.EVENT_ID, EB.EVENT_TITLE, EB.EVENT_UPDATE_AT, EB.EVENT_CONTENT,
               U.USERS_ID,
               EI.EVENT_IMG_ID, EI.EVENT_ORIGINAL_FILENAME, EI.EVENT_UUID, EI.EVENT_PATH, EI.EVENT_EXTENSION
        FROM EVENT_BOARD EB
            JOIN USERS U ON EB.USERS_ID = U.USERS_ID
            LEFT JOIN EVENT_IMG EI ON EB.EVENT_ID = EI.EVENT_ID
        ORDER BY EVENT_ID DESC
    </select>

    <!-- 이벤트 게시글 상세 정보  -->
    <select id="selectById" parameterType="long" resultType="EventBoardDetailDTO">
        SELECT EB.EVENT_ID, EB.EVENT_TITLE, EB.EVENT_UPDATE_AT, EB.EVENT_CONTENT,
               U.USERS_ID,
               EI.EVENT_IMG_ID, EI.EVENT_ORIGINAL_FILENAME, EI.EVENT_UUID, EI.EVENT_PATH, EI.EVENT_EXTENSION
        FROM EVENT_BOARD EB
            JOIN USERS U ON EB.USERS_ID = U.USERS_ID
            LEFT JOIN EVENT_IMG EI ON EB.EVENT_ID = EI.EVENT_ID
        WHERE EB.EVENT_ID = #{eventId}
    </select>

    <!--  이벤트 게시글 수정  -->
    <update id="updateEventBoard" parameterType="EventBoardModifyDTO">
        UPDATE EVENT_BOARD
        SET EVENT_TITLE = #{eventTitle}, EVENT_CONTENT = #{eventContent}, EVENT_UPDATE_AT = SYSDATE
        WHERE EVENT_ID = #{eventId}
    </update>

    <!--  이벤트 게시글 삭제  -->
    <delete id="deleteEventBoard" parameterType="long">
        DELETE FROM EVENT_BOARD
        WHERE EVENT_ID =#{eventId}
    </delete>
</mapper>