* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header__wrap {
  width: 100%;
  background: #fff;
}

#header {
  position: fixed;
  width: 100%;
  min-width: 1000px;
  left: 0;
  top: 0;
  padding: 0 50px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  z-index: 9999;
}

#header h1 {
  padding: 20px 0;
}

#header > #gnb {
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: 16px;
  font-weight: bold;
  color: rgb(34, 34, 34);
  background-color: #fff;
}

#header > #gnb::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 81px;
  left: 0;
  height: 150px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
  display: block;
}

#header > #gnb::before {
  display: none;
}

#header > #gnb.on::before {
  display: block;
}

.header__item__foot {
  height: 20px;
  width: 20px;

  vertical-align: bottom;
}

#header > #gnb > li .snb {
  position: absolute;
  top: 90px;
  display: none;

  color: rgb(51, 51, 51);
}

#header > #gnb.on > li .snb {
  display: block;
}

#header > #gnb > li > .snb > ul > li + li {
  margin-top: 20px;
}

#header > #gnb > li a:hover {
  color: rgb(95, 0, 128);
}

nav {
  ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: left;
    gap: 5px;

    font-size: 12px;
    font-weight: 600;
    color: rgb(34, 34, 34);

    white-space: nowrap;
    overflow: hidden;

    li:hover {
      color: rgb(95, 0, 128);
    }
  }
}
