* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}

li {
  list-style-type: none;
}

th,
td {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px;
  text-align: center;
}
td {
  cursor: pointer;
}
.mypage_list {
  display: flex;
  flex-direction: column;
  width: 1200px;

  align-items: stretch;
  justify-content: center;

  margin: 100px auto;
  p {
    font-size: 25px;
  }
}

.mypage_list_line {
  border: 1px solid var(--main-color);
  margin: 30px 0;
}

.mypage_review_button {
  color: white;
  background-color: var(--main-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.mypage_list_sub_line{
  border: 1px solid var(--sub-color);
  opacity: 0.5;
  margin: 10px 0;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
 div{
   span,a{
     cursor: pointer;
     padding: 10px;
   }
 }
}