* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.myPage__wrap {
  width: 100%;
  background: #fff;
}

#myPage {
  position: fixed;
  width: 100%;
  min-width: 1000px;
  left: 0;
  top: 0;
  padding: 100px 10px;
  padding-bottom: 20px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
}

#myPage h1 {
  padding: 20px 0;
}

#myPage > #gnb__myP {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(34, 34, 34);
  background: #fff;
}

#myPage > #gnb__myP::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 81px;
  left: 0;
  /* height: 50px; */
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
  display: block;
}

#myPage > #gnb__myP::before {
  display: none;
}

#myPage > #gnb__myP.on::before {
  display: block;
}

.myPage__item__foot {
  height: 20px;
  width: 20px;
  vertical-align: bottom;
}

#myPage > #gnb__myP > li .snb {
  position: absolute;

  top: 100px;
  margin-top: 30px;
  padding-top: 20px;
  display: none;
  background-color: white;
  color: rgb(51, 51, 51);
}

#myPage > #gnb__myP > li.on .snb {
  display: block;
  padding: 0 20px;
  box-shadow: 5px 5px var(--main-color);
  border: 1px solid black; /* on 클래스가 있을 때만 보이게 */
}

#myPage > #gnb__myP > li > .snb > ul > li + li {
  margin-top: 20px;
}

#myPage > #gnb__myP > li a:hover {
  color: rgb(95, 0, 128);
}
