* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

table {
  margin-bottom: 200px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px;
  text-align: center;
}
td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mypage_main {
  display: flex;
  /* position: fixed; */
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.mypage_main_top {
  display: flex;
  margin-top: 20px;
}
.mypage_main_member_proflie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  /* margin-top: 200px; */
}
.mypage_main_member_name {
  margin-left: 20px;
  margin-top: 50px;

  color: var(--main-color);
  span {
    font-size: 30px;
  }
}

.mypage_main_line {
  border: 1px solid var(--main-color);
  margin: 10px 0;
}

.mypage_main_member_line {
  border: 1px solid #f0f0f0;
  margin: 10px 0;

  width: 200px;
}
.mypage_main_rigth {
  margin-top: 100px;
}

.mypage_main_pet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;

  width: 60vw;
  right: 40%;
  top: 30%;

  p {
    padding-left: 20px;
    font-size: 30px;
  }
}

.mypage_main_pet_box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
  width: 800px;
}

.mypage_main_pet_list {
  display: flex;
}

.mypage_main_pet_content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

.mypage_main_pet_img {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 20px;
  border-radius: 50%;
  overflow: hidden;
}
.mypage_main_pet_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mypage_main_pet_profile {
  font-size: 20px;
}

.mypage_main_pet_button_left {
  background-image: url(/images/user/mypage/left-button);
  background-color: transparent;
  background-repeat: no-repeat;
  margin-right: 50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
}

.mypage_main_pet_button_right {
  background-image: url(../img/>button.png);
  background-color: transparent;
  background-repeat: no-repeat;
  margin-left: 50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
}
.mypage_main_work {
  /* padding: 100px; */

  p {
    font-size: 25px;
  }
}

.mypage_main_work_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mypage_main_content_title {
  display: flex;
  justify-content: space-between;

  button {
    border: none;
  }
}

.mypage_main_content_button {
  background-image: url(../img/+button.png);
  background-color: transparent;
  background-repeat: no-repeat;

  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
}

.mypage_main_qna,
.mypage_main_event {
  width: 500px;
}

.mypage_review_button {
  color: white;
  background-color: var(--main-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.mypage_main_pet_list {
  display: none;
}

.mypage_main_pet_list.active {
  display: block;
}
