<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dncompany.mapper.dn.DnBoardMapper">
    <insert id="insertDnBoard" parameterType="DnBoardWriteDTO">
        <selectKey resultType="Long" keyProperty="dnId" order="BEFORE">
            SELECT SEQ_DN_BOARD.nextval FROM DUAL
        </selectKey>
        INSERT INTO DN_BOARD (DN_ID, USERS_ID, DN_PET_CATEGORY, DN_TITLE, DN_CONTENT)
        VALUES (#{dnId}, #{usersId}, #{dnPetCategory},#{dnTitle}, #{dnContent});
    </insert>
<!--    <select id="selectById" parameterType="Long" resultType=""-->


</mapper>