<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dncompany.mapper.user.MessageMapper">
    <select id="selectfromMessage" resultType="MessagePageDTO">
        SELECT M.USER_FROM, M.USER_TO, M.MS_CONTENT, M.MESSAGE_ID, M.MS_DATE,
               U.USERS_ID, U.LOGIN_ID
        FROM MESSAGE M
                 JOIN USERS U ON M.USER_FROM = U.USERS_ID
        WHERE M.USER_FROM = u.USERS_ID
        ORDER BY MS_DATE DESC
    </select>
</mapper>