/* 공통 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* 헤더, 푸터를 포함헌 전체 컨테이너 */
.container {
  min-height: 600px;
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
  background-color: #fff;
}

/* main 레이아웃 */
.main-wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
