<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <script defer th:src="@{/js/fragment/header.js}"></script>
    <link rel="stylesheet" th:href="@{/css/map/pet-service.css}" />

    <!-- js -->
    <script type="text/javascript" th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=ede54e3725e1cc3bd6d5cf466cb852dc&libraries=services}"></script>
    <script defer type="module" th:src="@{/js/map/pet-service.js}"></script>
    <title>Document</title>
  </head>
  <body>
    <!-- 홈페이지 전체 사이즈 -->
    <div class="container">
      <th:block th:insert="~{fragment/header::header}">

      </th:block>
      <div class="main-wrap">
        <main>
          <p>반려동물 동반 가능 시설 정보</p>
          <!-- 지도 정보 -->
          <div class="map_wrap">
            <div id="map"></div>
            <div id="menu_wrap" class="bg_white">
              <div class="option-wrap">
                <form onsubmit="searchPlaces(); return false;">
                  <div class="option">
                    <input
                      type="text"
                      value=""
                      id="keyword"
                      size="15"
                      placeholder="동물병원"
                    />
                    <button type="submit">
                      <img th:src="@{/images/map/search-icon.png}" alt="검색하기"/>
                    </button>
                  </div>
                </form>
              </div>
              <hr />
              <ul id="placesList">
                <!-- 반복 요소 -->
                <!-- <li class="item">
                  <span class="markerbg marker_1"></span>
                  <div class="info">
                    <h5>명동교자 이태원점</h5>
                    <span>서울 용산구 녹사평대로 136</span>
                    <span class="jibun gray">서울 용산구 이태원동 34-149</span>
                    <span class="tel">02-790-7300</span>
                  </div>
                </li> -->
                <!-- 반복 요소 -->
              </ul>
              <div id="pagination"></div>
            </div>
          </div>
        </main>
      </div>
      <th:block th:insert="~{fragment/footer::footer}">

      </th:block>
    </div>
  </body>
</html>
