<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/dn/detail.css}"/>
    <style>
        @import url(https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff);
        @import url(https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2);
    </style>
    <script defer type="module" th:src="@{/js/dn/dnDetail.js}"></script>
    <script defer th:src="@{/js/fragment/header.js}"></script>
</head>
<body>

<div class="container">
    <header class="header" th:include="~{fragment/header::header}">
    </header>
    <div class="main-wrap">
        <main>
            <!-- 여기에 작업 -->
            <!-- 게시글 상세 -->
            <div class="product_qaDetailContainer">
                <div class="product_qaDetailContent">
                    <!-- 작성글 박스 -->
                    <div class="product_qaDetailQuestion" th:object="${board}">
                        <div class="product_qaDetailTitle">
                            <div class="product_labelListWrapper" >
                                <button class="mylabel_activeLabel" th:text="*{dnPetCategory}">강아지</button>
                                <button class="mylabel_activeLabel" th:text="*{productCategory}">간식</button>
                            </div>
                            <h1 class="product_qaDetailTop" th:text="*{dnTitle}">물품명</h1>
                        </div>
                        <div class="product_qaDetailText">
                            <div class="product_img_detail" th:if="*{productImgId != null}">
                                <!-- 상품 이미지 -->
                                <img th:src="@{'/upload/dn/' + *{productPath} + '/' + *{productUuid} + *{productExtension}}" alt="상품 이미지" class="product_image"/>
                            </div>
                            <div class="product_img_detail" th:unless="*{productImgId != null}">
                            <!-- 상품 이미지 -->
                            <img th:src="@{/images/logo/logo_header2.png}" alt="상품 이미지" class="product_image"/>
                        </div>
                            <div class="product_detail_right">
                                <div class="product_dn_status pending" th:if="*{dnStatus == 'PENDING'}"> 판매중 </div>
                                <div class="product_dn_status complete" th:if="*{dnStatus == 'COMPLETE'}"> 거래완료 </div>
                                <!-- 판매 금액 -->
                                <div class="product_price" th:text="*{productName}">₩50,000</div>
                                <div class="product_price" th:text="'판매 금액 : ₩ ' + *{productPrice}">₩50,000</div>
                                <!-- 판매 글 내용 -->
                                <div class="product_description" th:utext="*{dnContent}">
                                    이 상품은 강아지 간식으로 적합하며, 고품질 원료로
                                    제작되었습니다.
                                </div>
                                <!-- 관심 상품 버튼 -->
                                <button class="favorite_button">💖 관심 상품
                                    <span class="favorite_count" th:text="*{likeCount}">0</span>
                                </button>
                                <!-- 포인트 사용 텍스트 박스 -->
                                <!-- 판매자와 대화 버튼 -->
                                <button class="chat_button">판매자와 대화</button>
                            </div>
                        </div>

                        <!-- 작성자 정보 -->
                        <div class="product_qaDetailInfo">
                            <div>
                                <a href="" class="product_infoWrapper">
                                    <img src="https://bff-images.bemypet.kr/media/medias/profile_image/927-image_picker4881577713905119062.jpg"/>
                                    <div class="product_qaDetailUser" th:text="*{loginId}">삼색이짱짱</div>
                                    <div class="product_qaDetailDate" th:text="*{dbUpdatedAt}">2024.12.17</div>
                                </a>
                            </div>
                        </div>
                        <!-- 작성글 삭제/수정 버튼 -->
                        <div class="delete_modify_Btn">
                            <div class="delete_Btn">
                                <button class="delete_Btn_item" tabindex="0" type="button" th:data-dn-id="*{dnId}" th:data-product-id="*{productId}">
                                    글 삭제
                                </button>
                            </div>
                            <!-- 작성글 수정 버튼 -->
                            <div class="modify_Btn">
                                <button class="modify_Btn_item" tabindex="0" type="button">
                                    <a th:href="@{/dn/modify(dnId=*{dnId})}">
                                    글 수정
                                    </a>
                                </button>

                            </div>
                        </div>
                    </div>
                    <!--모달창-->
                    <div class="message_modal_box">
                        <form class="message_form" th:action="@{/user/message}" method="post">
                            <div class="message__top">
                                <p><span>쪽지</span> 보내기</p>
                            </div>
                            <div class="message__top">
                                <p>쪽지 받을 사람 &nbsp;</p>
                                <label for="userFrom"></label>
                                <input type="hidden" id="userFrom" name="userFrom" th:value="${session.usersId}">
                                <label for="loginIdTo"></label>
                                <input type="text" id="loginIdTo" name="loginIdTo" placeholder="아이디를 입력해주세요." th:value="${board.loginId}">
                            </div>
                            <div class="message__top">
                                <p>쪽지 내용</p>
                                <label for="msContent"></label>
                                <textarea class="message__content_box" id="msContent" name="msContent" placeholder="쪽지의 내용을 작성해주세요."></textarea>
                            </div>

                            <div class="message__botton">
                                <div class="message_btn">
                                    <input type="submit" class="message_btn_send" value="확인">
                                    <input type="reset" class="message_btn_close" value="취소">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer class="footer" th:include="~{fragment/footer::footer}"></footer>
</div>

<script th:inline="javascript">
    const dnId = [[${board.dnId}]];
    const productId = [[${board.productId}]];
    const usersId = [[${session.usersId}]];
</script>
</body>
</html>
