<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <script defer th:src="@{/js/fragment/header.js}"></script>
    <link rel="stylesheet" th:href="@{/css/dn/market.css}"/>
    <style>
        @import url(https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff);
        @import url(https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2);
    </style>
</head>
<body>
<div class="container">
    <header class="header" th:include="~{fragment/header::header}">
    </header>
    <div class="main-wrap">
        <main>
            <!-- 게시판 영역 -->
            <div class="shopLayout_shoppingContainer">
                <div class="shopLayout_shoppingContents">

                        <!-- 쇼핑/검색창 -->
                        <div class="shopLayout_shoppingTopArea">
                            <!-- 검색창 -->
                            <form class="search-form" th:action="@{/dn/market}" method="get">
                                <input type="hidden" name="petCategory" th:value="${searchDTO.dnPetCategory}"/>
                                <input type="hidden" name="productCategory" th:value="${searchDTO.productCategory}"/>
                                <input type="hidden" name="order" th:value="${searchDTO.order}"/>
                                <div class="shopSearch_inputContainer">
                                    <div class="shopLayout_shoppingTopArea">
                                        <input type="text" class="shopSearch_searchInput" placeholder="검색" enterkeyhint="search" th:value="${searchDTO.keyword}"/>
                                        <img class="shopSearch_searchIcon" src="https://bemypet.kr/_next/static/media/ICON-24px-Search.318147fc.svg"/>
                                    </div>
                                </div>
                            </form>


                            <!-- 동물 분류 -->
                            <div class="shopLayout_animalLabelContainer">
                                <a th:href="@{/dn/market(dnCategory='dog', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="dog">강아지</a>
                                <a th:href="@{/dn/market(dnCategory='cat', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="cat">고양이</a>
                                <a th:href="@{/dn/market(dnCategory='smallPet', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="smallPet">소동물</a>
                                <a th:href="@{/dn/market(dnCategory='otherPet', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="otherPet">기타</a>
                            </div>
                        </div>

                        <!-- 물품 종류 카테고리 -->
                        <nav class="categoryHeader_contentHeaderWrapper">
                            <div class="categoryHeader_contentHeaderBox">
                                <div class="categoryHeader_contentHeaderList">
                                    <a th:href="@{/dn/market(productCategory='snack', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="snack">간식</a>
                                    <a th:href="@{/dn/market(productCategory='mat', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="mat">매트</a>
                                    <a th:href="@{/dn/market(productCategory='feed', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="feed">사료</a>
                                    <a th:href="@{/dn/market(productCategory='dish', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="dish">식기</a>
                                    <a th:href="@{/dn/market(productCategory='nutrition', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="nutrition">영양제</a>
                                    <a th:href="@{/dn/market(productCategory='health', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="health">위생</a>
                                    <a th:href="@{/dn/market(productCategory='cage', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="cage">이동장</a>
                                    <a th:href="@{/dn/market(productCategory='toy', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="toy">장난감</a>
                                    <a th:href="@{/dn/market(productCategory='house', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="house">집/하우스</a>
                                    <a th:href="@{/dn/market(productCategory='fashion', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="fashion">패션</a>
                                    <a th:href="@{/dn/market(productCategory='petAppliances', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="petAppliances">펫가전</a>
                                    <a th:href="@{/dn/market(productCategory='snood', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="snood">하네스/줄</a>
                                    <a th:href="@{/dn/market(productCategory='pestPreventionProducts', order=${searchDTO.order})}" class="SubView-tab-t1" data-category="pestPreventionProducts">해충방지용품</a>
                                </div>
                            </div>
                        </nav>


                    <!-- 전체 물품 -->
                    <div class="shopping_shoppingContents">
                        <!-- 정렬 -->
                        <div class="shopping_productFilterContainer">
                          <span class="shopping_productFilterList">
                            <input class="radio_myRadio" type="radio" id="popular-order" name="productFilter" value="popular-order" th:checked="${searchDTO.order.equals('popular-order')}"/>
                            <label for="popular-order">인기순</label>
                          </span>
                                <span class="shopping_productFilterList">
                            <input class="radio_myRadio" type="radio" id="last-order" name="productFilter" value="last-order" th:checked="${searchDTO.order.equals('last_order')}"/>
                            <label for="last-order">최신순</label>
                          </span>
                                <span class="shopping_productFilterList">
                            <input class="radio_myRadio" type="radio" id="price-desc-order" name="productFilter" value="price-desc-order" th:checked="${searchDTO.order.equals('price-desc-order')}"/>
                            <label for="price-desc-order">낮은 가격순</label>
                          </span>
                                <span class="shopping_productFilterList">
                            <input class="radio_myRadio" type="radio" id="price-asc-order" name="productFilter" value="price-asc-order" th:checked="${searchDTO.order.equals('price-asc-order')}"/>
                            <label for="price-asc-order">높은 가격순</label>
                          </span>
                        </div>
                        <!-- 글쓰기 버튼 -->

                        <div class="write_Btn">
                            <a th:href="@{/dn/write}" >
                            <button class="write_Btn_item" tabindex="0" type="button">
                                글쓰기
                            </button>
                            </a>
                        </div>

                        <!-- 물품 목록 -->
                        <div class="shopping-list-wrap" >
                            <div class="shopping_productList" th:each="dnBoard : ${pageDTO.list}" th:object="${dnBoard}">
                                <!-- 반복 구간 -->
                                <div class="productCard_productCardContainer">
                                    <a th:href="@{/dn/detail(dnId=*{dnId})}">
                                    <!-- 사진 영역 -->
                                    <div class="productCard_cardImgContainer">
                                        <span><img th:src="@{/images/logo/logo_banner2.png}" alt="게시글 썸네일" th:if="*{productImgId == null}" /></span>
                                        <span><img th:src="@{'/upload/dn/' + *{productPath} + '/th_' + *{productUuid} + *{productExtension}}" alt="게시글 썸네일" th:unless="*{productImgId == null}"/>
                                      </span>
                                    </div>

                                    <!-- 물품 정보 -->
                                    <div class="productCard_productInfo">
                                        <div class="productCard_productBrand" th:text="*{productCategory}">물품명</div>
                                        <div class="productCard_productName" th:text="*{dnTitle}">물품 상세 정보</div>
                                    </div>

                                    <!-- 경계선 -->
                                    <hr class="productCard_productDivider"/>

                                    <!-- 물품 가격 -->
                                    <div class="productCard_productInfo">
                                        <div class="productCard_priceWrapper">
                                            <div class="productCard_productPrice" th:text="*{productPrice}">10,000</div>
                                            <span class="productCard_wonPrice">원</span>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                                <!-- 반복 구간 -->
                            </div>
                        </div>
                    </div>

                    <!-- 페이지 영역 -->
                    <div class="pagination">
                        <a th:if="${pageDTO.hasPreviousGroup()}"
                           th:href="@{/dn/market(page=${pageDTO.startPage - 1})}"
                           class="page-btn prev">‹
                        </a>
                        <a th:each="i : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}"
                           th:href="@{/dn/market(page=${i})}"
                           class="page-btn"
                           th:classappend="${i == pageDTO.page ? 'active' : ''}"
                           th:text="${i}">1
                        </a>
                        <a th:if="${pageDTO.hasNextGroup()}"
                           th:href="@{/dn/market(page=${pageDTO.endPage + 1})}"
                           class="page-btn next">&gt;
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer class="footer" th:include="~{fragment/footer::footer}"></footer>
</div>


</body>
</html>
