<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/dn/write.css}"/>
    <style>
        @import url(https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff);
        @import url(https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2);
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>
    <script defer th:src="@{/js/dn/dnBoard.js}"></script>
    <script defer th:src="@{/js/fragment/header.js}"></script>

</head>
<body>
<div class="container">
    <header class="header" th:include="~{fragment/header::header}">
    </header>
    <div class="main-wrap">
        <main>
            <!-- 여기에 작업 -->
            <div class="prouduct_prouductContainer">
                <div class="prouduct_prouductContent">
                    <!--반려동물 카테고리 선택 -->
                    <span class="prouduct_animalCategory">반려동물 카테고리</span>
                    <span class="prouduct_prouductMark">*</span>
                    <form class="write-form" th:action="@{/dn/write}" method="post" enctype="multipart/form-data">
                    <div class="animal_radioWrap">
                            <th:block>
                                <div>
                                    <input type="radio" name="dnPetCategory" id="dog" value="dog" checked/>
                                    <label for="dog">강아지</label>
                                </div>
                                <div>
                                    <input type="radio" name="dnPetCategory" id="cat" value="cat"/>
                                    <label for="cat">고양이</label>
                                </div>
                                <div>
                                    <input type="radio" name="dnPetCategory" id="smallPet" value="smallPet"/>
                                    <label for="small">소동물</label>
                                </div>
                                <div>
                                    <input type="radio" name="dnPetCategory" id="otherPet" value="otherPet"/>
                                    <label for="otherPet">기타</label>
                                </div>
                            </th:block>
                    </div>

                    <!--물품 카테고리 선택 -->
                    <span class="prouduct_prouductCategory">물품 카테고리</span>
                    <span class="prouduct_prouductMark">*</span>
                    <div class="prouduct_radioWrap">
                        <th:block>
                            <div>
                                <input type="radio" name="productCategory" id="snack" value="snack" checked/>
                                <label for="snack">간식</label>
                            </div>
                            <div>
                                <input type="radio" name="productCategory" id="mat" value="mat"/>
                                <label for="mat">매트</label>
                            </div>
                            <div>
                                <input type="radio" name="productCategory" id="feed" value="feed"/>
                                <label for="feed">사료</label>
                            </div>
                            <div>
                                <input type="radio" name="productCategory" id="dish" value="dish"/>
                                <label for="dish">식기</label>
                            </div>
                            <div>
                                <input type="radio" name="productCategory" id="nutrition" value="nutrition"/>
                                <label for="nutrition">영양제</label>
                            </div>
                            <div>
                                <input type="radio" name="productCategory" id="health" value="health"/>
                                <label for="health">위생</label>
                            </div>
                            <div>
                                <input type="radio" name="productCategory" id="cage" value="cage"/>
                                <label for="cage">이동장</label>
                            </div>
                            <div>
                                <input type="radio" name="productCategory" id="toy" value="toy"/>
                                <label for="toy">장난감</label>
                            </div>
                            <div>
                                <input type="radio" name="productCategory" id="house" value="house"/>
                                <label for="house">집/하우스</label>
                            </div>
                            <div>
                                <input type="radio" name="productCategory" id="fashion" value="fashion"/>
                                <label for="fashion">패션</label>
                            </div>
                            <div>
                                <input type="radio" name="productCategory" id="petAppliances" value="petAppliances"/>
                                <label for="petAppliances">펫가전</label>
                            </div>
                            <div>
                                <input type="radio" name="productCategory" id="snood" value="snood"/>
                                <label for="snood">하네스/줄</label>
                            </div>
                            <div>
                                <input type="radio" name="productCategory" id="PestPreventionProducts" value=" PestPreventionProducts"/>
                                <label for="PestPreventionProducts">해충방지용품</label>
                            </div>
                        </th:block>
                    </div>
                    <!-- 판매 금액 박스 -->
                    <div>
                        <div>
                            <span class="prouduct_price">판매 금액</span>
                            <span class="prouduct_prouductMark">*</span>
                        </div>
                        <input placeholder="금액을 입력해주세요" class="prouduct_priceInput" name="productPrice"/>
                        <!-- 박스 하단 여백 -->
                        <div class="prouduct_alertText"></div>
                    </div>

                    <!-- 제목 입력 박스 -->
                    <div>
                        <div>
                            <span class="prouduct_prouductCategory">판매글 작성</span>
                            <span class="prouduct_prouductMark">*</span>
                        </div>
                        <input placeholder="제목을 입력해주세요" class="prouduct_titleInput" name="dnTitle" required/>
                        <!-- 박스 하단 여백 -->
                        <div class="prouduct_alertText"></div>
                    </div>

                    <!-- 내용 입력 박스 -->
                    <div class="prouduct_prouductInputWrapper">
                    <textarea placeholder="5자 이상의 글 내용을 입력해주세요" class="prouduct_prouductInput" name="dnContent" required></textarea>
                        <!-- 박스 하단 여백 -->
                        <div class="prouduct_alertText"></div>
                    </div>
                        <div class="prouduct_fileInputWrapper">
                            <!-- 사진 업로드 박스 -->
                            <span class="prouduct_prouductCategory">사진 업로드</span>
                            <div class="prouduct_prouductImgContainer"></div>
                            <input id="uploadFile" name="image" type="file" multiple accept="image/jpg,image/png,image/jpeg,image/gif" style="display: none"/>
                            <label for="uploadFile" class="prouduct_inputFileBtn">
                                <div class="prouduct_inputFileText">사진 첨부</div>
                                <img src="https://bemypet.kr/icons/community/ICON_PHOTO_CAMERA.svg"/>
                            </label>
                            <span class="prouduct_imgDesc">개당 업로드 용량: 20MB, 첨부 파일의 경우 사진과 동영상을 합쳐 최대 10개 업로드 가능합니다.</span>
                        </div>
                    <!-- 등록 버튼 -->
                    <button class="prouduct_nosubmitBtn" type="submit">글 등록</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <footer class="footer" th:include="~{fragment/footer::footer}"></footer>
</div>
</body>
</html>
