<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/user/mypage/mypage_list.css}">
    <link rel="stylesheet" th:href="@{/css/user/mypage/common.css}">
    <link rel="stylesheet" th:href="@{/css/user/mypage/font.css}">
    <link rel="stylesheet" th:href="@{/css/user/mypage/header.css}">

    <script defer th:src="@{/js/user/mypage/common.js}"></script>
    <script defer th:src="@{/js/user/mypage/mypage_list.js}"></script>

</head>
<body>
<div class="container">
    <header></header>
    <nav class="mypage_nav" th:include="~{fragments/nav ::nav}></nav>
    <div class="main-wrap">
        <main>
            <div class="mypage_list">
                <div class="mypage_list_title">
                    <p>도와주세요</p>
                    <div class="mypage_list_line"></div></div>
                <table>
                    <tr>
                        <th>제목</th>
                        <th>매칭상태</th>
                        <th>작성날짜</th>
                        <th>매칭 시어터</th>
                        <th>신청날짜</th>
                        <th>후기</th>

                    </tr>


                    <tr>
                        <td>이런 도움이 필요해요</td>
                        <td>매칭 대기중</td>
                        <td>2021.12.12</td>
                        <td>-</td>
                        <td>2020-23-12[진행중]</td>
                        <!-- <td><button class="mypage_review_button">후기</button>
                        <button class="mypage_review_button">신고</button></td> -->
                    </tr>

                    <tr>
                        <td>이런 도움이 필요해요</td>
                        <td>매칭 완료</td>
                        <td>2021.12.12</td>
                        <td>누구님</td>
                        <td>2020-33-11[완료]</td>
                        <td><button class="mypage_review_button">후기</button>
                            <button class="mypage_review_button">신고</button></td>
                    </tr>
                </table>
        </main>
    </div>
    <footer></footer>
</div>
</body>
</html>