<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/user/mypage/mypage_main.css}">


    <script defer th:src="@{/js/fragment/header.js}"></script>
    <script defer th:src="@{/js/user/mypage/mypage_main.js}" ></script>


    <title>Document</title>
</head>
<body>
<!-- 홈페이지 전체 사이즈 -->
<div class="container">
    <th:block th:insert="~{fragment/header::header}">
    </th:block>

    <div class="main-wrap">


        <main>
            <!--마이페이지 메인-->


            <div class="mypage_main">


                <!--(좌측)회원정보-->

                <div class="mypage_main_left">

                    <div class="mypage_main_top">
                        <div class="mypage_main_member_proflie">

                            <div class="mypage_main_member_name"><span th:text="${userProfile.getNickName()}">$$</span>님
                            </div>

                            <!-- 회원정보 -->
                            <ul class="mypage_user_profile">
                                <li th:text="'아이디:'+ ${userProfile.getLoginId()} "> ####</li>
                                <li th:text="'이메일:'+${userProfile.getEmail()}"> ###@###.com</li>
                                <li th:text="'전화번호:'+${userProfile.getPhoneNumber()}">####-##-##</li>
                            </ul>
                            <div class="mypage_main_member_line"></div>
                            <!-- 활동횟수/포인트 -->
                            <ul class="mypage_user_now">
                                <li>도와주세요: <span th:text="${userProfile.getHbCount()}"></span>건</li>
                                <li>도와줄게요: <span th:text="${userProfile.getHoCount()}"></span>건</li>
                                <li>보유 포인트: <span th:text="${userProfile.getPoint()}"></span> p</li>

                            </ul>
                            <div class="profile_btn_box">
                                <a class="profile_btn" th:href="@{/mypage/update/profile}">
                                    <img src="/images/user/mypage/information.png" alt="정보수정 아이콘" class="infoBtn">
                                </a>
                            </div>

                        </div>
                        <!-- (우측) -->
                        <div class="mypage_main_rigth">
                            <!--  반려동물정보 -->
                            <p class="mypage_pet_list_title">반려동물 정보</p>
                            <div class="mypage_main_pet">
                                <div class="pet-btn-box">
                                    <a class="pet-btn" th:href="@{/mypage/add/pet}"></a>
                                </div>
                                <div class="mypage_main_pet_box">

                                    <!-- 이전 버튼 -->
                                    <button class="mypage_main_pet_button_left"></button>

                                    <!-- 반려동물 리스트 -->
                                    <th:block th:if="${!petList.isEmpty()}">
                                    <div class="mypage_main_pet_list" th:each="pet : ${petList}" th:object="${pet}">
                                        <div class="mypage_main_pet_content">
                                            <div class="mypage_main_pet_img">
                                                <img class="mypage_main_pet_image"
                                                     th:src="@{'/upload/pet/' + *{petImagePath} + '/' + *{petUuid} + *{petExtension} }"
                                                     alt="반려동물 사진"/>
                                            </div>
                                            <ul class="mypage_main_pet_profile">
                                                <li th:text="'이름: ' + *{petName}"> 코코</li>
                                                <li th:text="'나이: ' + *{petAge}"> 2살</li>
                                                <li th:text="'성별: ' + *{petGender}"> 암컷</li>
                                                <li th:text="'생일: ' + *{petBirthDate}"> 2022-01-01</li>
                                                <li th:text="'입양일: ' + *{adoptionDate}"> 2022-03-01</li>
                                            </ul>

                                        </div>
                                        <div class="pet-add-delete-btn">
                                            <a th:href="@{/mypage/update/pet(petId=*{petId})}">수정</a>
                                            <a th:href="@{/mypage/delete/pet(petId=*{petId})}">삭제</a>
                                        </div>

                                    </div>
                                    </th:block>
                                    <th:block th:unless="${!petList.isEmpty()}">
                                    <div class="mypage_main_pet_list">
                                        <img class="petListnullimg" th:src="@{/images/logo/logo_banner2.png}" alt="반려동물 등록 없을 시 띄우는 로고">
                                    </div>
                                    </th:block>

                                    <!-- 다음 버튼 -->
                                    <button class="mypage_main_pet_button_right"></button>
                                </div>

                            </div>
                        </div>
                        <!-- 활동내역 -->
                        <div class="mypage_activity_list_container">
                            <p class="mypage_main_content_title">활동내역</p>
                            <div class="mypage_main_sub_line"></div>


                            <div class="mypage_main_content">
                                <div class="mypage_main_content_button_list">
                                    <a class="mypage_main_content_button" th:href="@{/mypage/list/zip}">초보zip</a>
                                    <a class="mypage_main_content_button" th:href="@{/mypage/list/dn}">댕냥바다</a>
                                    <a class="mypage_main_content_button" th:href="@{/mypage/list/dn-like}">찜목록</a>
                                    <a class="mypage_main_content_button" th:href="@{/mypage/list/qna}">QnA</a>
                                    <a class="mypage_main_content_button" th:href="@{/mypage/list/review}">받은 후기</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="mypage_main_work">

                        <!-- 도와주세요 -->
                        <div class="mypage_main_help_me">
                            <div class="mypage_main_content_title"><p>도와주세요</p>
                                <a class="mypage_main_content_button_top" th:href="@{/mypage/list/helpme}"></a></div>
                            <div class="mypage_main_line"></div>
                            <div class="mypage_main_list_top">
                                <table>
                                    <tr>
                                        <th>순번</th>
                                        <th>제목</th>
                                        <th>신청유형</th>
                                        <th>시작날짜</th>
                                        <th>신청날짜</th>
                                        <th>상태</th>
                                        <th>신청자</th>
                                    </tr>


                                    <tr class="main-help-me-list" th:each="help:${mainHelpMeList}" th:object="${help}"
                                        th:data-help-id="${help.helpId}">
                                        <td th:text="*{rnum}"></td>
                                        <td class="help_title"><a th:href="@{/help/detail(helpId=*{helpId})}" th:text="*{helpTitle}"></a></td>
                                        <td th:text="*{helpCareType}"></td>
                                        <td th:text="*{helpCreatedAt}"></td>
                                        <td th:text="*{helpCareDate}"></td>
                                        <td>
                                               <div th:if="${today.isAfter(help.helpEndTime) and !(help.reviewCount>0) } " >
                                            <button type="button" class="review-btn mypage_review_button"
                                                    th:data-help-id="*{helpId}">후기</button>
                                            <button type="button" class="report-btn mypage_review_button" >신고</button>
                                               </div>
                                            <div th:if="${help.reviewCount>0}">
                                                작성 완료
                                            </div>

                                        </td>

                                        <td>
                                            <button type="button" class="testBtn" th:if="*{!isAccepted}">
                                            <a th:href="@{/mypage/list/helpyou(helpId=*{helpId})}"><img src="/images/user/mypage/more.png" alt="더보기" class="testBtnImg"></a>
                                            </button>
                                            <span th:unless="*{!isAccepted}">
                                                매칭완료
                                            </span>
                                        </td>


                                    </tr>

                                </table>
                            </div>

                            <!-- 모달창 -->
                            <div class="review_modal_box" >
                                <div class="review__top">
                                    <p><span>도와주세요</span> REVIEW</p>
                                    <p>리뷰 작성</p>
                                </div>
                                <form>
                                    <div>
                                        <textarea id="reviewTitle" class="title_box" placeholder="리뷰 제목을 입력해주세요."></textarea>
                                    </div>
                                    <div in></div>
                                    <div class="review__star">
                                        <div class="star_rating">
                                            <p>별점 &nbsp;</p>
                                            <input type="hidden" id="reviewStringRating" name="reviewStringRating" value="" />
                                            <span class="star" data-value="1"></span>
                                            <span class="star" data-value="2"></span>
                                            <span class="star" data-value="3"></span>
                                            <span class="star" data-value="4"></span>
                                            <span class="star" data-value="5"></span>
                                        </div>
                                    </div>
                                    <textarea id="reviewContent" class="content_box" placeholder="리뷰 내용을 작성해주세요."></textarea>
                                    <div class="review__botton">
                                        <button type="button" class="review_btn">확인</button>
                                        <button type="button" class="review_btn review-cancel-btn">취소</button>
                                    </div>
                                </form>
                            </div>

                            <!-- 신고 모달 -->
                            <div class="report_modal_box">
                                <div class="report__top">
                                    <p><span>신고</span> 하시겠습니까?</p>
                                    <p>무분별한 신고로 확인되면 제재가 있을 수 있습니다.</p>
                                </div>
                                <form>
                                    <div>
                                        <textarea id="reportTitle" class="title_box" placeholder="신고 제목을 입력해주세요."></textarea>
                                    </div>
                                    <textarea id="reportContent" class="content_box" placeholder="신고 사유를 작성해주세요."></textarea>
                                    <div class="report__botton">
                                        <button type="button" class="report_btn">신고</button>
                                        <button type="button" class="report_btn report-cancel-btn">취소</button>
                                    </div>
                                </form>
                            </div>





                        </div>
                    </div>
                </div>
            </div>


        </main>
    </div>
    <th:block th:insert="~{fragment/footer::footer}">

    </th:block>

</div>
</body>
</html>