<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/user/mypage/mypage_add_update.css}" />
    <link rel="stylesheet" th:href="@{/css/user/mypage/mypage_nav.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">


    <script defer th:src="@{/js/user/mypage/mypage_nav.js}"></script>
    <script defer th:src="@{/js/fragment/header.js}"></script>
    <script defer th:src="@{/js/common.js}"></script>
    <script defer th:src="@{/js/user/mypage/mypage_add.js}"></script>
    <title>Document</title>
</head>
<body>
<!-- 홈페이지 전체 사이즈 -->
<div class="container">
    <th:block th:insert="~{fragment/header::header}">
    </th:block>

    <th:block th:insert="~{user/mypage/mypage_nav::mypage-nav}">
    </th:block>

    <div class="main-wrap">
        <main>
            <div class="mypage_pet_add_box">
                <p>반려동물 정보 수정</p>

                <form action="">
                    <div>
                        <label >사진등록</label>
                        <input id="mypage_add_pet_img" type="file" accept="img/*" />
                        <div id="mypage_add_pet_img_preview"></div>
                    </div>
                    <div>
                        <label >종 </label>
                        <input type="text" name="updatePetSpecies" />
                    </div>

                    <div>
                        <label>이름</label>
                        <input type="text" name="updatePetName" />
                    </div>

                    <div>
                        <label>나이</label>
                        <input type="number" name="updateAge" />
                    </div>

                    <div>
                        <label>생일</label>
                        <input type="date" name="updateBrithDay" />
                    </div>

                    <div>
                        <label>입양일</label>
                        <input type="date" name="updateAdoptionDate" />
                    </div>

                    <button type="submit">완료</button>
                </form>
            </div>
        </main>
    </div>
    <footer></footer>
<th:block th:insert="~{fragment/footer::footer}">

</th:block>
</div>
</body>
</html>
